{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">비밀번호 변경</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="current_password">현재 비밀번호</label>
            <input type="password" class="form-control" name="current_password" id="current_password">
        </div>
        <div class="mb-3">
            <label for="new_password1">새 비밀번호</label>
            <input type="password" class="form-control" name="new_password1" id="new_password1">
        </div>
        <div class="mb-3">
            <label for="new_password2">새 비밀번호 확인</label>
            <input type="password" class="form-control" name="new_password2" id="new_password2">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
        <a href="{{ url_for('main.index') }}" class="btn btn-secondary">취소</a>
    </form>
</div>
{% endblock %}

