{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">비밀번호 찾기</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ form.email.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">임시 비밀번호 발송</button>
        <a href="{{ url_for('auth.login') }}" class="btn btn-secondary">로그인으로 돌아가기</a>
    </form>
</div>
{% endblock %}

