{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<div class="container my-3">
    <!-- flash 오류 -->
    {%  for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <!-- 질문 -->
    <!-- 제목 -->
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                {% if question.modify_date %}
                    <div class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div>{{ question.modify_date|datetime }}</div>
                    </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ question.user.username }}</div>
                    <div>{{ question.create_date|datetime }}</div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0)" data-uri="{{ url_for('question.vote', question_id=question.id) }}"
                   class="recommend btn btn-sm btn-outline-secondary"> 추천
                    <span class="badge rounded-pill bg-success">{{ question.voter|length }}</span>
                </a>
                <span class="text-muted ms-3">
                    <i class="fas fa-eye"></i> 조회 {{ question.view_count or 0 }}
                </span>
                {% if g.user == question.user %}
                <a href="{{ url_for('question.modify', question_id=question.id) }}"
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                   data-uri="{{ url_for('question.delete', question_id=question.id) }}">삭제</a>
                {% endif %}
            </div>
        </div>
        <div class="my-action-buttons">
            <a href="#" class="my-action" onclick="toggleCommentForm('question-{{ question.id }}'); return false;">
                <i class="fas fa-comment"></i>댓글
            </a>
            <a href="javascript:void(0)" data-uri="{{ url_for('question.vote', question_id=question.id) }}" class="recommend my-action">
                <i class="fas fa-thumbs-up"></i>추천 ({{ question.voter|length }})
            </a>
        </div>
        <!-- 질문 댓글 -->
        {% if question.comment_set %}
            <div class="comment-block">
                <div class="mt-2">
                    {% for comment in question.comment_set %}
                    <div class="comment py-2 text-muted">
                        <span style="white-space: pre-line;">{{ comment.content }}</span>
                        <span>
                            - <a href="#" class="text-muted">{{ comment.user.username }}</a>,
                            <i class="fas fa-clock ml-1"></i>{{ comment.create_date|datetime }}
                            {% if comment.modify_date %}
                            (수정:{{ comment.modify_date|datetime }})
                            {% endif %}
                        </span>
                        {% if g.user == comment.user %}
                        <a href="{{ url_for('comment.modify', comment_id=comment.id) }}" class="small">수정</a>,
                        <a href="#" class="small delete" data-uri="{{ url_for('comment.delete', comment_id=comment.id) }}">삭제</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div id="question-{{ question.id }}" class="comment-form my-3" style="display: none;">
            {% if g.user %}
            <form action="{{ url_for('comment.create_question_comment', question_id=question.id) }}" method="post" class="my-3">
                {{ comment_form.csrf_token }}
                <div class="mb-3">
                    <textarea name="content" class="form-control" rows="2" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <input type="submit" value="댓글등록" class="btn btn-primary btn-sm">
            </form>
            {% else %}
            <div class="alert alert-warning">
                댓글을 작성하려면 <a href="{{ url_for('auth.login') }}">로그인</a>이 필요합니다.
            </div>
            {% endif %}
        </div>
    </div>
    <!-- 답변 목록 -->
    <div class="d-flex justify-content-between align-items-center my-3">
        <h5 class="border-bottom py-2">{{ answers.total }}개의 답변이 있습니다.</h5>
        <div class="btn-group">
            <a href="{{ url_for('question.detail', question_id=question.id, sort='recent') }}" class="{% if sort=='recent' %}fw-bold{% endif %}">
                <i class="fas fa-thumbs-up"></i>최신순
            </a>
            <a href="{{ url_for('question.detail', question_id=question.id, sort='recommend') }}" class="{% if sort=='recommend' %}fw-bold{% endif %}">
                <i class="fas fa-list"></i>추천순
            </a>
        </div>
    </div>
    {% for answer in answers.items %}
    <a id="answer_{{ answer.id }}"></a>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                {% if answer.modify_date %}
                    <div class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div>{{ answer.modify_date|datetime }}</div>
                    </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ answer.user.username }}</div>
                    <div>{{ answer.create_date|datetime }}</div>
                </div>
            </div>
        </div>
        <!-- 답변 댓글 -->
        {% if answer.comment_set %}
            <div class="mt-3">
                {% for comment in answer.comment_set %}
                <div class="comment py-2 text-muted">
                    <span style="white-space: pre-line;">{{ comment.content }}</span>
                    <span>
                        - <a href="#" class="text-muted">{{ comment.user.username }}</a>, {{ comment.create_date|datetime }}
                        {% if comment.modify_date %}
                        (수정:{{ comment.modify_date|datetime }})
                        {% endif %}
                    </span>
                    {% if g.user == comment.user %}
                    <a href="{{ url_for('comment.modify', comment_id=comment.id) }}" class="small">수정</a>,
                    <a href="#" class="small delete" data-uri="{{ url_for('comment.delete', comment_id=comment.id) }}">삭제</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <!--  -->
        <div class="my-action-buttons">
            <a href="#" class="my-action" onclick="toggleCommentForm('answer-{{ answer.id }}'); return false;">
                <i class="fas fa-comment"></i>댓글
            </a>
            <a href="javascript:void(0)" data-uri="{{ url_for('question.vote', question_id=question.id) }}" class="recommend my-action">
                <i class="fas fa-thumbs-up"></i>추천 ({{ question.voter|length }})
            </a>
            {% if g.user == answer.user %}
                <a href="{{ url_for('answer.modify', answer_id=answer.id) }}"
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary "
                   data-uri="{{ url_for('answer.delete', answer_id=answer.id) }}">삭제</a>
                {% endif %}
        </div>
        <div id="answer-{{ answer.id }}" class="comment-form my-3" style="display: none;">
            {% if g.user %}
                <form action="{{ url_for('comment.create_answer_comment', answer_id=answer.id) }}" method="post" class="my-3">
                    {{ comment_form.csrf_token }}
                    <div class="mb-3">
                        <textarea name="content" class="form-control" rows="2" placeholder="댓글을 입력하세요"></textarea>
                    </div>
                    <input type="submit" value="댓글등록" class="btn btn-primary btn-sm">
                </form>
            {% else %}
            <div class="alert alert-warning">
                댓글을 작성하려면 <a href="{{ url_for('auth.login') }}">로그인</a>이 필요합니다.
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <!-- 답변 페이지네이션 -->
    <ul class="pagination justify-content-center">
        {% if answers.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('question.detail', question_id=question.id, page=answers.prev_num, sort=sort) }}">이전</a>
        </li>
        {% endif %}
        {% for p in answers.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if p %}
            <li class="page-item {% if p == answers.page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('question.detail', question_id=question.id, page=p, sort=sort) }}">{{ p }}</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
        {% endfor %}
        {% if answers.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('question.detail', question_id=question.id, page=answers.next_num, sort=sort) }}">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 답변 등록 -->
    <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post" class="my-3">
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <textarea {% if not g.user %}disabled{% endif %} name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
    // 댓글 폼 토글 함수
    function toggleCommentForm(id) {
        const form = document.getElementById(id);
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
{% endblock %}